.search-box {
  width: 320px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.235);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  color: black;
  caret-color: black;
}

.search-box input:active {
  border: none;
}

.search-box input::placeholder {
  color: rgb(59, 59, 59);
  margin-left: 20px;
  font-weight: thin;
}

@media (max-width: 768px) {
  .table th {
    display: none;
  }
  .table td {
    display: block;
    padding: 0.5rem 1rem;
  }
  .table td::before {
    content: attr(data) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
