.header {
  height: 110vh;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.fostifest-title-font {
  font-size: 40px;
  font-weight: bolder;
  width: 70%;
}

.fostifest-description-font {
  font-size: 14px;
}

.btn-custom {
  width: 200px;
  height: 40px;
  background-color: #5a96e3;
  color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media (max-width: 994px) {
  .header {
    height: 100vh;
  }

  .btn-custom {
    font-size: 16px;
  }
  .fostifest-title-font {
    font-size: 28px;
    width: 100%;
  }
  .fostifest-description-font {
    font-size: 12px;
  }
}
