.header {
  height: 110vh;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.fostifest-title-font {
  font-size: 40px;
  font-weight: bolder;
  width: 70%;
}

.fostifest-description-font {
  font-size: 14px;
}

.btn-custom {
  width: 200px;
  height: 40px;
  background-color: #5a96e3;
  color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media (max-width: 992px) {
  .header {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .header {
    margin-top: 65px;
  }

  .btn-custom {
    font-size: 16px;
  }
  .header {
    height: 85vh;
    align-items: end;
  }
  .fostifest-title-font {
    font-size: 28px;
    width: 100%;
  }
  .fostifest-description-font {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  .header {
    margin-top: 100px;
  }
}

@media (max-width: 360px) {
  .header {
    margin-top: 160px;
  }
}

@media (max-width: 320px) {
  .header {
    margin-top: 300px;
  }
}
