.label-custom {
  font-size: 11px;
}

.input-custom {
  height: 40px;
  background-color: rgb(244, 241, 241);
  border-radius: 20px;
  border: none;
  font-size: 12px;
}

.btn-login {
  color: white;
  background-color: #5a96e3;
}

.btn-login:hover {
  background-color: white;
  color: #5a96e3;
}

.change-page {
  font-size: 12px;
  font-weight: 300;
}

.btn-back {
  font-size: 12px;
}

.btn-back:hover {
  cursor: pointer;
}

.card-width {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .card-width {
    width: 100%;
  }
}
