.content {
  width: 100%;
}

.title {
  font-size: 30px;
}

.logout-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  height: 50px;
  width: 120px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #04ae6c, #04697c);
  color: white;
  font-weight: bold;
}

.logout-btn:hover {
  background: linear-gradient(to right, #32cb91, #219ab3);
  color: white;
}

.content-pengumpulan {
  padding-right: 115px;
  padding-left: 100px;
}
.content-tutup {
  padding-right: 125px;
  padding-left: 100px;
}

.description {
  font-size: 14px;
  font-weight: bolder;
}

.input-box {
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.input {
  color: grey;
  border-radius: 20px;
}

.input::-webkit-file-upload-button {
  background-color: rgb(198, 198, 198);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }

  .logout-btn {
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 30px;
    height: 40px;
    width: 100px;
    font-size: 12px;
  }

  .title {
    font-size: 20px;
    width: 100%;
  }

  .description {
    font-size: 12px;
  }

  .input-box {
    height: 30px;
    width: 300px;
  }

  .input::-webkit-file-upload-button {
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    height: 30px;
  }

  .input {
    width: 100px;
    height: 30px;
    font-size: 9px;
  }

  .content-tutup {
    padding-right: 20px;
    padding-left: 20px;
  }
}
