@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.title-span {
  color: #4682a9;
}

.support-media {
  font-size: 20px;
}

.logo-image img {
  width: 70%;
  aspect-ratio: 4/2;
  object-fit: contain;
}

.logo-social-media :hover {
  cursor: pointer;
  height: 55px;
  width: 55px;
}

@media (max-width: 768px) {
  .support-media {
    font-size: 12px;
  }

  .logo-image img {
    width: 100%;
  }

  .social-media h3 {
    font-size: 1rem;
  }
  .social-media p {
    font-size: 8px;
  }

  .fosti-ums {
    font-size: 10px;
  }

  .link {
    height: 20px;
    width: 70px;
    font-size: 10px;
  }

  .lottie-login {
    height: 70%;
    width: 70%;
  }
}
