.days-hours {
  display: flex;
  gap: 1em;
}
.minutes-seconds {
  display: flex;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 0.25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  font-size: 50px;
  height: 40px;
  width: 80px;
  background-color: #f7f7f7;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  font-size: 50px;
  width: 80px;
  height: 34px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container {
  display: flex;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: 0.1em;
  color: #4682a9;
}

.segment-title {
  font-size: 1rem;
}

.start {
  margin-right: 50px;
}

@media (max-width: 800px) {
  .countdown-box {
    margin-top: 10px;
  }

  .minutes-seconds {
    flex-direction: column;
  }

  .start {
    margin: auto;
    margin-bottom: 20px;
  }

  .top,
  .flip-card .top-flip {
    font-size: 30px;
    height: 24px;
    width: 50px;
  }
  .bottom,
  .flip-card .bottom-flip {
    font-size: 30px;
    height: 21px;
    width: 50px;
  }
}
